@use '../../styles/styles';

.container {
    width: 100%;
    margin: styles.$gap-section-md auto styles.$gap-section-lg;

    @media (min-width: 992px) {
        width: 100%; // fill container; left edge matches Section
    }
}

.image {
    width: 100%;
    height: auto;
}
