/*
// 768px - md
// 992px - lg
*/

.container {
    background-color: rgb(210, 210, 210, 0.4);
    backdrop-filter: blur(84px);
    padding: 24px 0;

    @media (min-width: 992px) {
        width: 75%;
        border-radius: 10px;
    }
}

.defaultMargins {
    margin: 100px auto;

    @media (min-width: 768px) {
        margin: 0 auto;
    }
}

.endMargins {
    margin: 40px auto 148px;
}
