.image {
    width: 100%;
    height: auto;
}

.defaultMargins {
    margin: 4px auto 20px;
}

/* md breakpoint */
@media (min-width: 768px) {
    .defaultMargins {
        margin: 28px auto 28px;
    }
    .endMargins {
        margin: 28px auto 48px;
    }
    .screen {
        width: 75%;
    }
    .item {
        width: 42%;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .screen {
        width: 70%;
    }
    .item {
        width: 44%;
    }
}
