@use '../../styles/styles';

.container {
    padding-left: 16px;
    border-width: 3px;
    margin-bottom: 16px;
}

.bordered {
    border-left: 3px solid styles.$secondary-color;
}

.borderless {
    border-left: transparent;
}
