@use 'styles/styles';

.container {
    padding-left: 16px;
    border-width: 5px;
    margin-bottom: 16px;
}

.bordered {
    border-left: styles.$secondary-color solid;
}

.borderless {
    border-left: transparent;
}
