.container {
    width: 85%;
    margin: 40px auto 0 auto;
}

/* md breakpoint */
@media (min-width: 768px) {
    .container {
        width: 75%;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .container {
        width: 64%;
        margin-left: 10%;
    }
}
