/*
// 768px - md
// 992px - lg
*/

.container {
    width: 85%;
    margin: 40px auto 0 auto;

    @media (min-width: 768px) {
        width: 75%;
    }

    @media (min-width: 992px) {
        width: 64%;
        margin-left: 10%;
    }
}
