.container {
    width: 78%;
}

.defaultMargins {
    margin: 96px auto 32px;
}

.endMargins {
    margin: 96px auto 132px;
}

/* md breakpoint */
@media (min-width: 768px) {
    .container {
        width: 75%;
    }
    .defaultMargins {
        margin: 72px auto 36px;
    }
    .endMargins {
        margin: 72px auto 102px;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .container {
        width: 40%;
    }
    .defaultMargins {
        margin: 72px 0 40px 22%;
    }
    .endMargins {
        margin: 72px 0 100px 22%;
    }
}
