/*
/  768px - md
/  992px - lg
*/

.container {
    width: 78%;

    @media (min-width: 768px) {
        width: 75%;
    }

    @media (min-width: 992px) {
        width: 40%;
    }
}

.defaultMargins {
    margin: 96px auto 32px;

    @media (min-width: 768px) {
        margin: 72px auto 36px;
    }

    @media (min-width: 992px) {
        margin: 72px 0 40px 22%;
    }
}

.endMargins {
    margin: 96px auto 132px;

    @media (min-width: 768px) {
        margin: 72px auto 102px;
    }

    @media (min-width: 992px) {
        margin: 72px 0 100px 22%;
    }
}
