/*
// 992px - lg
*/
@use 'styles/styles';

@mixin display-flex {
    display: flex;
}

@mixin flex-container {
    width: 100%;
    justify-content: center;
}

.outerContainer {
    @include display-flex;
    @include flex-container;

    @media (min-width: 992px) {
        width: 80%;
        padding: 32px 11%;
    }
}

.prompt {
    @include display-flex;
    @include flex-container;
    padding: 16px 11% 32px 11%;

    @media (min-width: 992px) {
        width: 80%;
        padding: 32px 11%;
    }
}

.promptText {
    font-size: 1.5em;
}

.container {
    @include display-flex;
    justify-content: space-around;
    min-width: 312px;
    margin: 0 auto 4em auto;
    padding-top: 0;
    color: styles.$color-dark-cerulean;
}

.link {
    padding: 6px 12px;
    border-radius: 20px;
}

.currentLink {
    background: styles.$color-dark-cerulean !important;
    font-family: styles.$font-heavy;
    color: styles.$color-white;
}
