/*
// 992px - lg
*/
@use 'styles/styles';

@mixin no-margin {
    margin: 0;
}

.navbar {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 64px;
    @include no-margin;
    padding: 22px 9% 0 9%;
    background-color: styles.$background-color;
    color: styles.$primary-color;
    z-index: 10;

    @media (min-width: 992px) {
        padding: 38px 3.2% 0 3.2%;
        background-color: transparent;
    }
}

.brand {
    font-family: styles.$font-heavy;
    font-size: 1.4em;

    .firstName {
        color: styles.$primary-color;
    }

    .lastName {
        color: styles.$default-font-color;
    }

    @media (min-width: 992px) {
        @include no-margin;
    }
}

.route {
    font-family: styles.$font-regular;
    font-size: 1.2em;
    color: styles.$primary-color;

    @media (min-width: 992px) {
        position: relative;
        @include no-margin;
        color: styles.$light-font-color;
    }
}
