/*
// 992px - lg
*/

.block {
    display: none;
    @media (min-width: 992px) {
        display: block;
        height: 100%;
        position: fixed;
        left: 58.5%;
        right: 0;
        bottom: 0;
        background-color: #004080;
        z-index: -10;
    }
}

.thin {
    @media (min-width: 992px) {
        left: 80% !important;
    }
}
