/*
/  768px - md
/  992px - lg
*/
@use 'styles/styles';

.container {
    max-width: 1920px;
    height: 200px;
    text-align: center;
    padding-top: 32px;
    color: styles.$primary-color;

    @media (min-width: 768px) {
        height: 112px;
    }

    @media (min-width: 992px) {
        height: 85px;
        position: relative;
        text-align: left;
        padding-top: 0;
        padding-left: 3%;
    }
}

.text {
    font-size: 1em;
}
