.container {
    max-width: 1920px;
    height: 200px;
    text-align: center;
    padding-top: 32px;
    color: #004080;
}

.text {
    font-size: 1em;
}

/* md breakpoint */
@media (min-width: 768px) {
    .container {
        height: 112px;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .container {
        height: 85px;
        position: relative;
        text-align: left;
        padding-top: 0;
        padding-left: 3%;
    }
}
