.heading,
.subHeading {
    font-family: "Gilroy Bold", sans-serif;
}

.heading {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.subHeading,
.contactPrompt {
    font-size: 1.3em;
}

.contactPromptList {
    list-style: none;
    padding-left: 1.5em;
}

.contactPrompt {
    font-family: "TT Commons Demi", sans-serif;
}

.clearFrostedGlass {
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
}

.imgFlexBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding: 40px 7.5%;
}

.imgItem {
    width: 100%;
    height: auto;
    margin: 4px auto 20px;
}

/* md breakpoint */
@media (min-width: 768px) {
    .imgFlexBox {
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
    }
    .imgItem {
        width: 42%;
        margin: 28px auto 28px;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .clearFrostedGlass {
        width: 70%;
        max-width: 1334px;
    }
    .imgItem {
        width: 44%;
        margin: 28px auto 28px;
    }
}
