/*
/  768px - md
/  992px - lg
*/
@use 'styles/styles';

@mixin heading-font {
    font-family: styles.$heavy-font;
}

.heading {
    @include heading-font;
    font-size: 2em;
    margin-bottom: 0.2em;
}

@mixin subheading-font-size {
    font-size: 1.3em;
}

.subHeading {
    @include subheading-font-size;
}

.contactPromptList {
    list-style: none;
    padding-left: 1.5em;
}

.contactPrompt {
    @include heading-font;
    @include subheading-font-size;
    font-family: styles.$regular-font;
}

.clearFrostedGlass {
    background-color: transparent;
    margin: 0 auto;
    padding: 0;

    @media (min-width: 992px) {
        width: 70%;
        max-width: 1334px;
    }
}

@mixin image-dimensions {
    width: 100%;
    height: auto;
}

.imgFlexBox {
    display: flex;
    @include image-dimensions;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 7.5%;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
    }
}

.imgItem {
    @include image-dimensions;
    margin: 4px auto 20px;

    @media (min-width: 768px) {
        width: 42%;
        margin: 28px auto 28px;
    }

    @media (min-width: 992px) {
        width: 44%;
        margin: 28px auto 28px;
    }
}
