/*
/  768px - md
/  992px - lg
*/
@use 'styles/styles';

@mixin heading-font {
    font-family: styles.$font-heavy;
}

.heading {
    @include heading-font;
    font-size: 2em;
    margin-bottom: 0.2em;
}

.subHeading {
    font-size: 1.75em;
}
