// colours
$dark-cerulean: #004080;
$background-color: #FAFAFA;
$default-font-color: #1A1A1A;
$body-font-color: #404040;
$hover-color: #CFE7FF;

// fonts
$heavy-font: "Gilroy Bold", sans-serif;
$bold-font: "TT Commons Demi", sans-serif;
$regular-font: "TT Commons Regular", sans-serif;

@mixin font-onload {
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons Regular';
    src: url('../fonts/tt_commons_classic_regular.woff') format('woff');
    @include font-onload;
}

@font-face {
    font-family: 'TT Commons Demi';
    src: url('../fonts/tt_commons_classic_demibold.woff') format('woff');
    @include font-onload;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/gilroy-bold.woff') format('woff');
    @include font-onload;
}

// space styling
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $regular-font;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0;
    color: $default-font-color;
    background: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
}

main {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    margin: 0 auto;
}

// link styling
a,
a:hover,
a:focus {
    text-decoration: none;
}

.activeLink {
    color: $dark-cerulean;
    transition: background 0.225s ease-out;
    -webkit-transition: background 0.225s ease-out;
    -moz-transition: background 0.225s ease-out;
    -o-transition: background 0.225s ease-out;

    &:hover {
        background: $hover-color;
    }
}

// typography
h1,
h2,
h3,
.heavy {
    font-family: $heavy-font;
}

h4,
h5,
h6,
a,
strong,
.bold {
    font-family: $bold-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 500;
    line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.75em;
    margin-bottom: 0.2em;
}

h3 {
    font-size: 2.4em;
    margin-bottom: 0.2em;
}

h4,
strong {
    font-size: 1.15em;
}

h5 {
    font-size: 1em;
}

p {
    font-size: 1.125em;
    margin-top: 0;
    margin-bottom: 1em;
    color: $body-font-color;
}

.italic {
    font-style: italic;
}

// list styling
li {
    line-height: 1.25em;
}

ul {
    & > li {
        padding-left: 0.5em;
    }
}

ol {
    padding-left: 2.15em;

    & > li {
        padding-left: 0.85em;
    }
}

// scrollbar styling
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $dark-cerulean;
}

::-webkit-scrollbar-thumb {
    background: $background-color;
}

::-webkit-scrollbar-thumb:hover {
    background: #C4C4C4;
}
