/*
/  768px - md
/  992px - lg
/  1200px - xl
*/
@use 'styles/styles';

.intro {
    width: 100vw;
    height: 100vh;
    max-height: 1080px;
    margin-top: 64px;
    padding-top: 12%;

    @media (min-width: 992px) {
        padding-top: 128px;
    }
}

.introText {
    margin: 15px 12% 0 12%;

    @media (min-width: 768px) {
        margin: 40px 24% 0 24%;
    }

    @media (min-width: 992px) {
        width: 300px;
        height: auto;
        margin: 0 0 0 14vw;
    }

    @media (min-width: 1200px) {
        margin: 0 0 0 20vw;
    }
}

.jumpContainer {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (min-width: 992px) {
        width: 300px;
        height: auto;
    }
}

.jump {
    margin: 0 auto;
    transition: margin 0.15s ease-out;
    -webkit-transition: margin 0.15s ease-out;
    -moz-transition: margin 0.15s ease-out;
    -o-transition: margin 0.15s ease-out;

    &:hover {
        margin-top: 7px;
    }
}

.jumpBtn {
    width: 45px;
    height: 45px;
}

.projects {
    width: 100%;
    padding-top: 80px;

    @media (min-width: 992px) {
        padding-top: 140px;
    }
}

/* font styling overrides */
.greeting {
    color: styles.$primary-color;
}
