/* loading page styling */
.loadingDiv {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}

.home {
    padding-top: 148px;
}

.container {
    width: 78%;
    margin: 96px auto;
}

/* md breakpoint */
@media (min-width: 768px) {
    .container {
        width: 75%;
    }
}

/* lg breakpoint */
@media (min-width: 992px) {
    .home {
        width: 58.5%;
        padding-top: 196px;
        padding-left: 10%;
        margin-left: 0;
    }
    .container {
        width: 40%;
        margin-left: 22%;
    }
}
